@model Shop.Domain.ViewModels.Admin.Blog.EditBlogeViewModel

@{
    ViewData["Title"] = "Edit Blog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
    {
    <style>
        .ck-editor__editable {
            min-height: 200px !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-12 col-xl-12">

        <div class="card">
            <div class="card-body">

                <!-- Tab panes -->
                <div class="tab-content p-3 text-muted">
                    <div class="tab-pane" id="revenue" role="tabpanel" style="position: relative;">
                        <div id="revenue-chart" class="apex-charts mt-4" style="min-height: 315px;"><div id="apexcharts0zaiaxdw" class="apexcharts-canvas apexcharts0zaiaxdw" style="width: 0px; height: 300px;"><svg id="SvgjsSvg1026" width="0" height="300" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1029" class="apexcharts-annotations"></g><g id="SvgjsG1028" class="apexcharts-inner apexcharts-graphical"><defs id="SvgjsDefs1027"></defs></g></svg><div class="apexcharts-legend"></div></div></div>
                        <div class="resize-triggers"><div class="expand-trigger"><div style="width: 1px; height: 1px;"></div></div><div class="contract-trigger"></div></div>
                    </div>
                    <form asp-action="EditBlog" asp-controller="Blog" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" asp-for="Title" placeholder="Enter...">
                                    <span asp-validation-for="Title" class="text-danger m-1"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea asp-for="ShortDescription" class="form-control" rows="5" placeholder="Write something..."></textarea>
                                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                </div>
                            </div> <!-- end col -->
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Content</label>
                                    <textarea class="editor" asp-for="Content" rows="5"></textarea>
                                    <span asp-validation-for="Content" class="text-danger m-1"></span>
                                </div>
                            </div> <!-- end col -->
                        </div>

                        <hr />

                        <div class="pt-2">
                            <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="/custom/ckeditor/build/ckeditor.js"></script>

    <script>
        var editorsArray = [];
        var editors = document.querySelectorAll(".editor");
        if (editors.length) {
            $.getScript("/custom/ckeditor/build/ckeditor.js",
                function (data, textStatus, jqxhr) {
                    for (editor of editors) {
                        ClassicEditor
                            .create(editor,
                                {
                                    language: 'en',
                                    licenseKey: '',
                                    simpleUpload: {
                                        uploadUrl: '/Admin/Home/UploadEditorImage'
                                    }
                                })
                            .then(editor => {
                                window.editor = editor;
                                editorsArray.push(editor);
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    }
                });
        }
    </script>

}