@model Shop.Domain.ViewModels.Shop.Site.CommentViewModel

<form class="widget-form" asp-action="CommentShops" asp-controller="Shop" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="single-input-item">
                <input type="hidden" asp-for="ProductId" />
                <textarea asp-for="Comment" type="text" rows="5" placeholder="Enter your comment..."></textarea>
            </div>
            <div class="single-input-item text-center">
                <button type="submit" class="button button1">Send</button>
            </div>
        </div>
    </div>
</form>
