<footer class="footer-area section-padding-2 bg-bluegray pt-80">
    <div class="container-fluid">
        <div class="footer-top pb-40">
            <div class="row">
                <div class="col-lg-2 col-md-8 col-12 col-sm-12">
                    <div class="footer-widget mb-30">
                        @await Component.InvokeAsync("FooterSiteLogo")
                    </div>
                </div>

                @await Component.InvokeAsync("Footer")

            </div>
        </div>
        @await Component.InvokeAsync("SiteCopyRight")
    </div>
</footer>