<div class="breadcrumb-area bg-img" style="background-image:url(/assets/images/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>@ViewData["Title"] Page</h2>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">@ViewData["Title"] </li>
            </ul>
        </div>
    </div>
</div>