@model Shop.Domain.Entities.Shop.Site.ContactUs

@{
    ViewData["Title"] = "Contact Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <h6 class="col-8">Name : </h6><div class="col-10">@Model.Name</div>
                </div>

                <hr />

                <div class="form-group row">
                    <h6 class="col-8">Subject : </h6><div class="col-10">@Model.Subject</div>
                </div>

                <hr />

                <div class="form-group row">
                    <h6 class="col-8">Email : </h6><div class="col-10">@Model.Email</div>
                </div>

                <hr />

                <div class="form-group row">
                    <h6 class="col-8">Message : </h6><div class="col-10">@Model.Message</div>
                </div>

                <a href="/Admin/Site/Contact" class="btn btn-primary submit-fn mt-2" type="submit">Back To List</a>

            </div>
        </div>
    </div>
    <!-- end col -->
</div>